@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  background: #FAFAFA;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply bg-zinc-800 p-4 lg:p-14;
}